<head>
    <link rel = "stylesheet" type = "text/css" href = "style.css" />
</head>

Repo: <input type=text value='asdf'>
<button>Load</button>
<input id="myfile" type="file"/>

<div class="result">

</div>

<script src="websuits.js"></script>